body{
font-family: Arial;
background: #f0f4f7;
}

.container{
width: 400px;
margin: auto;
margin-top: 100px;
padding: 20px;
background: white;
border-radius: 10px;
box-shadow: 0 0 10px gray;
text-align: center;
}

h1{
color: #2c3e50;
}

button{
background: #3498db;
color: white;
padding: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
}

button:hover{
background: #2980b9;
}
